<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="POS">
    <listeners>
		<listener class-name="com.pos.utilities.Reporting" />
	</listeners>

		<test name="POS Automation Test">
		
		<classes>
		    <class name="com.pos.testcases.TC_AddFloatToTheCashDrawer"/>
		    <class name="com.pos.testcases.TC_Lock_The_POS"/>
			<class name="com.pos.testcases.TC_SingleTicket"/>
			<class name="com.pos.testcases.TC_MultipleTicketBooking"/>
			<class name="com.pos.testcases.TC_Sell_Concessions"/>
			<class name="com.pos.testcases.TC_SellMultipleCombosWithCash"/>
			<class name="com.pos.testcases.TC_ComingSoon"/>
			<class name="com.pos.testcases.TC_UpNext"/>
			<class name="com.pos.testcases.TC_Perform_Audit_POS"/>
		
			
			<!--  <class name="com.POS.testcases.TC_EndShift" />-->
			
		 </classes>

	</test>

</suite>